<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class'
        }
    </script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-radar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body class="bg-gray-900">
<div th:insert="~{fragments :: nav}"></div>
<div th:if="${coach}">
    <h1 class="text-2xl bold text-white ml-10 mt-2" th:text="'Hello, ' + ${coach.getFirstName()} + ' ' + ${coach.getLastName()}"></h1>
</div>
<div class="flex m-2 rounded">
    <div class="mt-8 bg-gray-700 w-2/3 rounded p-2"
         th:data-dates="${datesJson}"
         th:data-my-team-ratings="${myTeamRatings}"
         th:data-average-ratings="${averageRatings}"
         th:data-team-name="${teamName}">
        <h2 class="text-xl font-bold text-white mb-4">Team stats:</h2>

        <form id="filtersForm" action="#" method="GET" class="mb-4">
            <div class="flex items-center space-x-4">
                <input id="startDate" name="startDate" type="text" placeholder="Start Date" th:value="${startDate}" class="form-input px-4 py-2"/>
                <input id="endDate" name="endDate" type="text" placeholder="End Date" th:value="${endDate}" class="form-input px-4 py-2"/>
                <select name="rounding" class="form-select px-4 py-2">
                    <option value="week" selected>Week</option>
                    <option value="month">Month</option>
                </select>
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded" onclick="return validateDates()">Apply</button>
            </div>
            <div id="error-message" class="text-red-500 mt-2"></div>
        </form>

        <canvas id="teamChart" width="400" height="200"></canvas>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                flatpickr("#startDate", {
                    dateFormat: "Y-m-d",
                });
                flatpickr("#endDate", {
                    dateFormat: "Y-m-d",
                });

                const datesJson = document.querySelector('.mt-8').dataset.dates;
                const myTeamRatingsJson = document.querySelector('.mt-8').dataset.myTeamRatings;
                const averageRatingsJson = document.querySelector('.mt-8').dataset.averageRatings;
                const teamNameJson = document.querySelector('.mt-8').dataset.teamName;

                try {
                    const labels = JSON.parse(datesJson);
                    const myTeamData = JSON.parse(myTeamRatingsJson);
                    const averageTeamData = JSON.parse(averageRatingsJson);
                    const teamName = teamNameJson;

                    if (labels.length === 0 || myTeamData.length === 0 || averageTeamData.length === 0) {
                        console.log('No data');
                    } else {
                        const ctx = document.getElementById('teamChart').getContext('2d');
                        new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: teamName,
                                    data: myTeamData,
                                    borderColor: 'rgba(112,1,22,0.77)',
                                    borderWidth: 2,
                                    fill: false
                                }, {
                                    label: 'Average of all teams',
                                    data: averageTeamData,
                                    borderColor: 'rgb(1,124,152)',
                                    borderWidth: 1,
                                    fill: false
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    }
                } catch (error) {
                    console.error('Error parsing JSON:', error);
                }
            });

            function validateDates() {
                const startDate = document.getElementById('startDate').value;
                const endDate = document.getElementById('endDate').value;
                const errorMessage = document.getElementById('error-message');

                if (startDate && endDate && new Date(startDate) > new Date(endDate)) {
                    errorMessage.textContent = 'Start date cannot be greater than end date.';
                    return false;
                }
                errorMessage.textContent = '';
                return true;
            }
        </script>
    </div>

    <div class="mt-2 bg-gray-900 w-1/3 h-auto ml-2">
        <div class="grid grid-cols-1 gap-4">
            <div id="container" class="bg-gray-900 h-96"></div>
            <div class="bg-gray-900">
                <div th:if="${TeamA}">
                    <script th:inline="javascript">
                        anychart.onDocumentReady(function () {
                            var chartData = {
                                header: ['#', /*[[${TeamA.teamName}]]*/, /*[[${TeamB.teamName}]]*/],
                                rows: [
                                    ['Physicality ', /*[[${TeamA.fizycznoscInterakcje}]]*/, /*[[${TeamB.fizycznoscInterakcje}]]*/],
                                    ['Defense ', /*[[${TeamA.obronaKotrolaPrzeciwnika}]]*/, /*[[${TeamB.obronaKotrolaPrzeciwnika}]]*/],
                                    ['Dribbling', /*[[${TeamA.dryblingSkutecznosc}]]*/, /*[[${TeamB.dryblingSkutecznosc}]]*/],
                                    ['Creativity', /*[[${TeamA.podaniaKreatywnosc}]]*/, /*[[${TeamB.podaniaKreatywnosc}]]*/]
                                ]
                            };
                            var chart = anychart.radar();
                            chart.defaultSeriesType('area');
                            chart.data(chartData);
                            chart.background().fill('rgb(55,65,81)');
                            chart.palette(['rgba(112,1,22,0.77)', 'rgb(1,124,152)']);
                            chart.yAxis().stroke('rgba(255,255,255,0.15)');
                            chart.yAxis().ticks().stroke('rgba(255,255,255,0.11)');
                            chart.xGrid().stroke({
                                color: "rgba(255,255,255,0.15)",
                                thickness: 0.5,
                                dash: "10 5"
                            });
                            chart.yGrid().palette(['gray 0.05', 'gray 0.025']);
                            chart.yScale().minimum(0);
                            chart.yScale().ticks().interval(0.03);
                            chart.interactivity().hoverMode('by-x');
                            chart.markerPalette(['star5']);
                            chart.tooltip()
                                .displayMode('union')
                                .useHtml(true)
                                .format(function(){
                                    return '<span style="color:' + this.series.color() + '">' +
                                        this.seriesName + ": " + this.value + "</span>"
                                });
                            chart.legend()
                                .align('center')
                                .position('center-bottom')
                                .enabled(true);
                            chart.container('container');
                            chart.draw();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
