<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .profile-card {
            max-width: 600px;
            margin: 0 auto;
            margin-top: 50px;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .profile-card dt {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .profile-card dd {
            margin-bottom: 10px;
        }

        .no-player {
            margin-top: 20px;
            text-align: center;
            color: #dc3545;
        }
    </style>
    <title>Profil Zawodnika</title>
</head>
<body>

<div class="container bg-dark">
    <div th:if="${player}" class="profile-card bg-dark">
        <h2 class="text-center mb-4">Profil Zawodnika</h2>
        <dl class="row">
            <dt class="col-sm-4">Imię:</dt>
            <dd class="col-sm-8" th:text="${player.imie}"></dd>
            <dd class="col-sm-8" th:text="${player.nazwisko}"></dd>

            <dt class="col-sm-4">Wiek:</dt>
            <dd class="col-sm-8" th:text="${player.wiek}"></dd>

            <dt class="col-sm-4">Wzrost:</dt>
            <dd class="col-sm-8" th:text="${player.wzrost}"></dd>

            <dt class="col-sm-4">Waga:</dt>
            <dd class="col-sm-8" th:text="${player.waga}"></dd>

            <dt class="col-sm-4">Kraj:</dt>
            <dd class="col-sm-8" th:text="${player.kraj}"></dd>

            <dt class="col-sm-4">Liczba wystąpień:</dt>
            <dd class="col-sm-8" th:text="${player.wystepy}"></dd>

            <dt class="col-sm-4">Minuty:</dt>
            <dd class="col-sm-8" th:text="${player.minuty}"></dd>

            <dt class="col-sm-4">Pozycja:</dt>
            <dd class="col-sm-8" th:text="${player.pozycja}"></dd>

            <dt class="col-sm-4">Ocena:</dt>
            <dd class="col-sm-8" th:text="${player.rating}"></dd>

            <dt class="col-sm-4">Strzały:</dt>
            <dd class="col-sm-8" th:text="${player.strzaly}"></dd>

            <dt class="col-sm-4">Strzały celne:</dt>
            <dd class="col-sm-8" th:text="${player.strzalyCelne}"></dd>

            <dt class="col-sm-4">Bramki:</dt>
            <dd class="col-sm-8" th:text="${player.gole}"></dd>

            <dt class="col-sm-4">Podania:</dt>
            <dd class="col-sm-8" th:text="${player.podania}"></dd>

            <dt class="col-sm-4">Kluczowe podania:</dt>
            <dd class="col-sm-8" th:text="${player.podaniaKluczowe}"></dd>

            <dt class="col-sm-4">Asysty:</dt>
            <dd class="col-sm-8" th:text="${player.asysty}"></dd>

            <dt class="col-sm-4">Pojedynki:</dt>
            <dd class="col-sm-8" th:text="${player.pojedynki}"></dd>

            <dt class="col-sm-4">Wygrane pojedynki:</dt>
            <dd class="col-sm-8" th:text="${player.pojedynkiWygrane}"></dd>

            <dt class="col-sm-4">Faule:</dt>
            <dd class="col-sm-8" th:text="${player.probyPrzechwytu}"></dd>

            <dt class="col-sm-4">Przechwyty:</dt>
            <dd class="col-sm-8" th:text="${player.przechwytyUdane}"></dd>

            <dt class="col-sm-4">Dribblingi:</dt>
            <dd class="col-sm-8" th:text="${player.dryblingi}"></dd>

            <dt class="col-sm-4">Wygrane dryblingi:</dt>
            <dd class="col-sm-8" th:text="${player.dryblingiWygrane}"></dd>

            <dt class="col-sm-4">Faule na zawodniku:</dt>
            <dd class="col-sm-8" th:text="${player.fauleNaZawodniku}"></dd>

            <dt class="col-sm-4">Faule popełnione:</dt>
            <dd class="col-sm-8" th:text="${player.faulePopelnione}"></dd>

            <dt class="col-sm-4">Żółte kartki:</dt>
            <dd class="col-sm-8" th:text="${player.kartkiZolte}"></dd>

            <dt class="col-sm-4">Czerwone kartki:</dt>
            <dd class="col-sm-8" th:text="${player.kartkiCzerwone}"></dd>
        </dl>
    </div>
    <div th:if="${noPlayer}" class="no-player">
        <p th:text="${noPlayer}"></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCZQIsnOEC"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6pBEdpDbrCEI6zfu3tqz/7L2JqHLaL+0"
        crossorigin="anonymous"></script>

</body>
</html>