<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<div th:if="${teams}">
    <form th:action="@{/compareTeams}" method="post">
        <div th:each="team : ${teams}">
            <label>
                <input type="radio" th:name="TeamA" th:value="${team.teamId}">
                <span th:text="${team.teamName}"></span>
            </label>
            <br/>
        </div>
        <div th:each="team : ${teams}">
            <label>
                <input type="radio" th:name="TeamB" th:value="${team.teamId}">
                <span th:text="${team.teamName}"></span>
            </label>
            <br/>
        </div>
        <button type="submit">Compare Teams</button>
    </form>
</div>
</body>
</html>
