<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Document</title>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-radar.min.js"></script>
    <style type="text/css">
        html, body, #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div th:if="${noTeams}">
    <p>Nie ma takiego zawodnika</p>
</div>
<div th:if="${noTeams}">
    <p>Nie ma takiego zawodnika</p>
</div>
<div id="container"></div>
<div th:if="${TeamA}">
    <script th:inline="javascript">

        anychart.onDocumentReady(function () {

            // create a data set
            var chartData = {
                header: ['#', /*[[${TeamA.teamName}]]*/, /*[[${TeamB.teamName}]]*/],
                rows: [
                    ['Fizyczność i interakcje', /*[[${TeamA.fizycznoscInterakcje}]]*/, /*[[${TeamB.fizycznoscInterakcje}]]*/],
                    ['Obrona i Kotrola Przeciwnika', /*[[${TeamA.obronaKotrolaPrzeciwnika}]]*/, /*[[${TeamB.obronaKotrolaPrzeciwnika}]]*/],
                    ['Drybling i Skutecznosc', /*[[${TeamA.dryblingSkutecznosc}]]*/, /*[[${TeamB.dryblingSkutecznosc}]]*/],
                    ['Podania i Kreatywnosc', /*[[${TeamA.podaniaKreatywnosc}]]*/, /*[[${TeamB.podaniaKreatywnosc}]]*/]
                ]
            };

            // create a radar chart
            var chart = anychart.radar();

            // set the series type
            chart.defaultSeriesType('area');

            // set the chart data
            chart.data(chartData);

            // set the color palette
            chart.palette(['#E5593499', '#64B5F6BF']);

            // configure the appearance of the y-axis
            chart.yAxis().stroke('#545f69');
            chart.yAxis().ticks().stroke('#545f69');

            // configure the stroke of the x-grid
            chart.xGrid().stroke({
                color: "#545f69",
                thickness: 0.5,
                dash: "10 5"
            });

            // configure the appearance of the y-grid
            chart.yGrid().palette(['gray 0.05', 'gray 0.025']);

            // begin the y-scale at 0
            chart.yScale().minimum(0);

            // set the y-scale ticks interval
            chart.yScale().ticks().interval(0.01);

            // set the hover mode
            chart.interactivity().hoverMode('by-x');

            //  set the marker type
            chart.markerPalette(['star5']);

            // improve the tooltip
            chart.tooltip()
                .displayMode('union')
                .useHtml(true)
                .format(function(e){
                    console.log(this);
                    return '<span style="color:' + this.series.color() + '">' +
                        this.seriesName + ": " + this.value + "</span>"
                });

            // set chart legend settings
            chart.legend()
                .align('center')
                .position('center-bottom')
                .enabled(true);

            // set the chart title
            chart.title("Sezon: " + /*[[${TeamA.season}]]*/);

            // set container id for the chart
            chart.container('container');

            // initiate chart drawing
            chart.draw();

        });
    </script>
</div>
</body>
</html>
