<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<body>
<a th:href="@{/teams}">GO BACK</a>
<div th:if="${noCompare}">
    <p th:text="${noCompare}"></p>
</div>
<div th:if="${teamsA}">
    <div th:if="${teamsB}">

        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        <script th:inline="javascript">

            var xValues = [];

            var teamAData = /*[[${teamsA}]]*/ [];
            var teamADataArray = [];
            var teamANames = [];
            teamAData.forEach(function (team) {
                xValues.push(team.season);
                teamADataArray.push(team.raiting);
                teamANames.push(team.teamName + " bez pozycji");
            });

            var teamBData = /*[[${teamsB}]]*/ [];
            var teamBDataArray = [];
            var teamBNames = [];
            teamBData.forEach(function (team) {
                teamBDataArray.push(team.raiting);
                teamBNames.push(team.teamName + " bez pozycji");
            });

            var PosTeamAData = /*[[${PosTeamsA}]]*/ [];
            var PosTeamADataArray = [];
            var PosTeamANames = [];
            PosTeamAData.forEach(function (team) {
                PosTeamADataArray.push(team.raiting);
                PosTeamANames.push(team.teamName);
            });

            var PosTeamBData = /*[[${PosTeamsB}]]*/ [];
            var PosTeamBDataArray = [];
            var PosTeamBNames = [];
            PosTeamBData.forEach(function (team) {
                PosTeamBDataArray.push(team.raiting);
                PosTeamBNames.push(team.teamName);
            });

            var raitings = /*[[${raitings}]]*/ [];
            var avgRaiting = /*[[${avgRaiting} /100 ]]*/;

            new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                            label: teamANames[0],
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: teamADataArray
                        },
                        {
                            label: teamBNames[0],
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(255,0,0,1.0)",
                            borderColor: "rgba(255,0,0,0.1)",
                            data: teamBDataArray
                        },
                        {
                            label: PosTeamANames[0],
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(33,183,0,0.85)",
                            borderColor: "rgba(33,183,0,0.3)",
                            data: PosTeamADataArray
                        },
                        {
                            label: PosTeamBNames[0],
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgb(246,212,0)",
                            borderColor: "rgba(246,212,0,0.24)",
                            data: PosTeamBDataArray
                        }

                    ]
                },
                options: {
                    legend: { display: true },
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: Math.min(...raitings) - (avgRaiting * 3),
                                max: Math.max(...raitings) + (avgRaiting * 3),
                                stepSize: avgRaiting
                            }
                        }],
                    }
                }
            });
        </script>

    </div>
</div>

</body>

</html>
